# Aviation Project

Data from National Transportation Safety Board that includes aviation accident data from 1962 to 2023 about civil aviation accidents and selected incidents in the United States and international waters

Data Cleaning and Analysis:

In [266]:
##import packages 

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

aviation_data = None
state_codes_data = None

In [267]:
##load the csv into dataframes

aviation_data = pd.read_csv('data/AviationData.csv', encoding='ISO-8859-1', dtype= {'column_name_6': 'int64', 'column_name_7': 'float64', 'column_name_28': 'float64'})
state_codes_data = pd.read_csv('data/USState_Codes.csv')

D:\Documents\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [268]:
state_codes_data.head()

     US_State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [269]:
aviation_data.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [270]:
aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [271]:
aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50248 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [272]:
airplane_df['Injury.Severity'].value_counts()
airplane_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7052 entries, 7 to 88873
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                7052 non-null   object
 1   Investigation.Type      7052 non-null   object
 2   Accident.Number         7052 non-null   object
 3   Event.Date              7052 non-null   object
 4   Location                7052 non-null   object
 5   Country                 7049 non-null   object
 6   Latitude                5689 non-null   object
 7   Longitude               5689 non-null   object
 8   Airport.Code            4997 non-null   object
 9   Airport.Name            5207 non-null   object
 10  Injury.Severity         7052 non-null   object
 11  Aircraft.damage         7052 non-null   object
 12  Aircraft.Category       7052 non-null   object
 13  Registration.Number     7052 non-null   object
 14  Make                    7052 non-null   object
 15  Model                   7052 non-null   object
 16  Amateur.Built           7052 non-null   object
 17  Number.of.Engines       6927 non-null   float64
 18  Engine.Type             6552 non-null   object
 19  FAR.Description         7047 non-null   object
 20  Schedule                372 non-null    object
 21  Purpose.of.flight       6856 non-null   object
 22  Air.carrier             3103 non-null   object
 23  Total.Fatal.Injuries    7052 non-null   float64
 24  Total.Serious.Injuries  7052 non-null   float64
 25  Total.Minor.Injuries    7052 non-null   float64
 26  Total.Uninjured         7052 non-null   float64
 27  Weather.Condition       7052 non-null   object
 28  Broad.phase.of.flight   1352 non-null   object
 29  Report.Status           6377 non-null   object
 30  Publication.Date        6993 non-null   object
dtypes: float64(5), object(26)
memory usage: 1.7+ MB

## Data Cleaning:

In [273]:
#check how many null values we have
aviation_data.isna().sum()
aviation_data['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64

In [274]:
## create airplane_df dataframe that contains only airplane data, as that is all we are interested in.
airplane_df = aviation_data[aviation_data['Aircraft.Category'] == "Airplane"]

In [292]:
##removing null values of make/model
airplane_df = airplane_df.dropna(subset=["Make", 'Model'])
airplane_df = airplane_df.dropna(subset=["Total.Fatal.Injuries", "Total.Serious.Injuries", "Total.Minor.Injuries", "Total.Uninjured"])
airplane_df = airplane_df.dropna(subset=["Weather.Condition"])
airplane_df = airplane_df.dropna(subset=["Number.of.Engines", "Engine.Type"])

In [290]:
#double check model/make is clean
airplane_df['Model'].isna().sum()

0

In [281]:
#drop injury severity and aircraft damage empty rows
airplane_df = airplane_df.dropna(subset=['Injury.Severity', "Aircraft.damage"])

airplane_df.isna().sum()
airplane_df['Model'].value_counts()

172         716
152         345
182         269
PA28        230
172N        230
           ...
G 164A       11
210N         11
PA-18A       11
M-4-220C     11
172I         11
Name: Model, Length: 314, dtype: int64

In [280]:
#get rid of makes and models that are frequency less than 50
airplane_df = airplane_df[airplane_df.groupby('Make')['Make'].transform('size') > 10]
airplane_df = airplane_df[airplane_df.groupby('Model')['Model'].transform('size') > 10]

In [282]:
##change all "Make" to lower case
airplane_df['Make'] = airplane_df['Make'].str.lower()

In [284]:
print(airplane_df['Make'].value_counts())
airplane_df['Model'].value_counts()

cessna                            5821
piper                             3053
beech                              831
mooney                             289
cirrus design corp                 190
bellanca                           180
air tractor inc                    145
grumman                            143
aeronca                            134
luscombe                           122
champion                           113
stinson                             94
air tractor                         93
boeing                              93
cirrus                              85
maule                               78
grumman acft eng cor-schweizer      53
diamond aircraft ind inc            49
american champion aircraft          45
ercoupe                             40
aviat aircraft inc                  39
vans                                39
flight design gmbh                  35
aero commander                      35
rockwell international              31
aviat                               29
mooney aircraft corp.               29
raytheon aircraft company           29
evektor-aerotechnik as              19
taylorcraft                         18
socata                              18
grumman american avn. corp.         18
ayres corporation                   17
grumman american                    16
schweizer aircraft corp             15
rockwell                            15
cubcrafters inc                     15
cessna aircraft co                  14
ayres                               13
american legend aircraft co         13
piper aircraft inc                  12
czech aircraft works spol sro       11
diamond                              4
Name: Make, dtype: int64

172         716
152         345
182         269
PA28        230
172N        230
           ...
G 164A       11
210N         11
PA-18A       11
M-4-220C     11
172I         11
Name: Model, Length: 314, dtype: int64

In [300]:
#drop columns we feel are irrelevant:
airplane_df.drop(columns=['Schedule', 'Air.carrier', 'FAR.Description', 'Publication.Date', "Registration.Number"], inplace=True)

In [316]:
#create new column with year of event
airplane_df["Year"] = airplane_df["Event.Date"].str.slice(start=0, stop=4)

In [317]:
airplane_df.isna().sum()
airplane_df.head()
#airplane_df['Broad.phase.of.flight'].value_counts()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Year
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,1982
12,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,NaN,...,Reciprocating,Personal,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,1982
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,HEARNE MUNICIPAL,...,Reciprocating,Personal,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,1982
17,20020917X01656,Accident,ANC82FAG14,1982-01-02,"SKWENTA, AK",United States,NaN,NaN,NaN,NaN,...,Reciprocating,Personal,3.0,0.0,0.0,0.0,VMC,Unknown,Probable Cause,1982
18,20020917X02481,Accident,NYC82DA016,1982-01-02,"GALETON, PA",United States,NaN,NaN,5G6,CHERRY SPRINGS,...,Reciprocating,Personal,0.0,0.0,0.0,1.0,VMC,Taxi,Probable Cause,1982

In [221]:
##airplane_df is clean now. Let's start plotting:
##export airplane_df to csv to look at in tableau

airplane_df['Total.Serious.Injuries'].value_counts()
airplane_df.to_csv('airplane_df.csv')

In [141]:
##create status_df that contains all the reports with the status of pilot's failure
##drop null values of report status
#status_df = airplane_df.dropna(subset=['Report.Status'])

##count rows that contain pilot's failure
#print(status_df['Report.Status'].str.contains("pilot's failure").sum())
#status_df = status_df[status_df['Report.Status'].str.contains("pilot's failure")]
#status_df.info()

In [142]:
#status_df.head()